* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}

.blue-color {
  color: royalblue;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 10vh;
  border: 2px solid black;
  padding: 0 2%;
  background-color: black;
}

.navbar div {
  /* border: 2px dotted red; */
}

.sub-nav {
  display: flex;
}
.brand {
  color: white;
}
.link {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  font-size: 20px;
}

.main-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("main-area-bg.jpg");
  background-size: cover;
  width: 100vw;
  height: 90vh;
  color: white;
}

.main-area * {
  /* border: 2px solid red; */
}

.slogan {
  font-size: 75px;
}

.sub-slogan {
  margin: 2% 0;
  font-size: 30px;
}

.main-btn {
  background-color: royalblue;
  border-radius: 10px;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.cards {
  display: flex;
  width: 100vw;
  height: 30vh;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  text-align: center;
}

.icon {
  background-color: royalblue;
  padding: 15px;
  border-radius: 50%;
}

.about {
  width: 100vw;
  height: 40vh;
  /* background-color: burlywood; */
  display: flex;
}

.about-1 {
  width: 50%;
  height: 100%;
}

.about-2 {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  padding: 15px;
  background-color: royalblue;
}

.lead {
  font-size: 38px;
  font-weight: 500;
  color: white;
}

.paragraph {
  margin: 30px 0;
  color: white;
}

.btn {
  text-decoration: none;
  border-radius: 10px;
  padding: 10px 15px;
  color: white;
  border: 2px solid white;
}

.image {
  width: 100%;
  height: 100%;
}

.showcase {
  width: 100vw;
  height: 20vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  letter-spacing: 2px;
}

.showcase h1 {
  margin: 10px 0px;
}

.showcase-images {
  width: 100vw;
  height: 50vh;
  display: flex;
  flex-wrap: wrap;
}

.showcase-image {
  width: 25%;
  height: 50%;
  padding: 5px;
}

.blog {
  margin-top: 20px;
  width: 100vw;
  height: 50vh;
  display: flex;
}

.icons {
  background-color: lightgreen;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  padding: 15px;
}

.icon1 {
  color: white;
  font-size: 20px;
}

.icon2 {
  margin: 10px 0px;
  color: white;
  font-size: 35px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.icon3 {
  color: white;
  font-size: 15px;
  margin: 20px 0;
}

.btn-outline {
  display: inline-block;
  padding: 10px 15px;
  color: white;
  border-radius: 15px;
  text-decoration: none;
  border: 2px solid white;
}

.image1 {
  width: 100%;
  height: 100%;
}

.image2 {
  width: 50%;
  height: 100%;
}

.showcase1 {
  width: 100vw;
  height: 20vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  letter-spacing: 2px;
  background-color: #f4f4f4;
}

.case {
  margin: 10px 0px;
}

.about-team {
  display: flex;
  width: 100vw;
  height: 40vh;
  background-color: #f4f4f4;
}

.photo {
  text-align: center;
  border-top-left-radius: 40%;
  border-bottom-right-radius: 40%;
  width: 33vw;
  height: 30vh;
}
.photo1 {
  text-align: center;
  border-top-left-radius: 40%;
  border-bottom-right-radius: 40%;
  width: 33vw;
  height: 30vh;
}
.photo2 {
  text-align: center;
  border-top-left-radius: 40%;
  border-bottom-right-radius: 40%;
  width: 33vw;
  height: 30vh;
}

.contact {
  width: 100vw;
  height: 50vh;
  display: flex;
}

.contact-image,
.contact-form {
  width: 50%;
  height: 100%;
}

.contact-form {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  padding: 35px;
}

.contact-form * {
  margin: 10px 0;
}

input {
  padding: 10px;
}

.conatct-btn {
  color: white;
  text-decoration: none;
  background-color: limegreen;
  border-radius: 2px;
  padding: 10px 15px;
  text-align: center;
  font-weight: 600;
}
